.hero {
    background-color: #266AD9;
    padding: 140px 0 72px;
    box-sizing: border-box;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.hero__content {
    max-width: 620px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.hero__intro {
    font-size: 32px;
    font-family: var(--font-quick);
    margin-bottom: 16px;
}

.hero__title {
    font-size: 88px;
    font-weight: 700;
    font-family: var(--font-quick);
    margin-bottom: 12px;
}

.hero__subtitle {
    font-size: 32px;
    font-family: var(--font-quick);
    margin-bottom: 32px;
}

.hero__text {
    font-size: 22px;
    font-family: var(--font-quick);
    margin-bottom: 48px;
    line-height: 140%;
    font-weight: 600;
}

.hero__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 14px 28px;
    height: 56px;

    border-radius: 32px;
    background-color: #ffffff;

    font-family: var(--font-quick);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;

    color: #266AD9;
    text-decoration: none;

    border: none;
    cursor: pointer;
}

.hero__button:hover,
.hero__button:visited,
.hero__button:active {
    color: #266AD9;
    text-decoration: none;
}

.hero__button:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

.hero__imageWrapper {
    flex-shrink: 0;
}

.hero__image {
    width: 441px;
    height: 479px;
    border-radius: 30px;
    object-fit: cover;
}

/* ===================== MOBILE ===================== */

@media (max-width: 768px) {
    .hero {
        padding: 120px 0 80px;
    }

    .hero__container {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        text-align: center;
    }

    .hero__content {
        max-width: 100%;
        align-items: center;
    }

    .hero__title {
        font-size: 48px;
        font-weight: 700;
        font-family: var(--font-quick);
    }

    .hero__subtitle {
        font-size: 24px;
        font-family: var(--font-quick);
        font-weight: 500;
    }

    .hero__text {
        font-size: 16px;
        font-family: var(--font-quick);
        font-weight: 500;
    }

    .hero__image {
        width: 100%;
        width: 313.13px;
        height: 300px;
        aspect-ratio: 30px;
        border-radius: 32px;
    }

    .hero__button {
        margin-top: 14px;

    }

}

@media (max-width: 768px) {
    .hero__intro {
        font-size: 24px;
        font-weight: 400;
        font-family: var(--font-quick);
    }
}