.skills {
    padding: 72px 120px;
    background-color: #242b31;
    color: #ffffff;
}

.skills__content {
    width: 1199px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.skills__title {
    font-family: var(--font-quick);
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
}

/* GRID */

.skills__grid {
    display: grid;
    grid-template-columns: repeat(3, 377px);
    gap: 34px;
}

/* CARD */

.skills__card {
    width: 377px;
    height: 200px;
}

.skills__cardInner {
    position: relative;
    width: 100%;
    height: 100%;
}


.skills__cardFront,
.skills__cardBack {
    position: absolute;
    inset: 0;

    border-radius: 30px;
    padding: 42px 71px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.skills__cardFront {
    background-color: #2f3941;
    gap: 12px;

    opacity: 1;
    z-index: 2;

    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.25),
        0 0 0 1px rgba(255, 255, 255, 0.03);
}


.skills__cardBack {
    background-color: #79B8FF80;
    gap: 16px;

    opacity: 0;
    z-index: 1;

    color: #FFFFFF;

    box-shadow:
        0 14px 32px rgba(0, 0, 0, 0.35),
        0 0 0 1px rgba(255, 255, 255, 0.2);
}


.skills__card:hover .skills__cardFront {
    opacity: 0;
}

.skills__card:hover .skills__cardBack {
    opacity: 1;
}


.skills__icon {
    width: 70px;
    height: 80px;
}

.skills__label {
    .skills__label {
        font-family: var(--font-quick);
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0;
        color: #ffffff;
        width: 323px;
        height: 29px;
    }

}

.skills__description {
    .skills__description {
        font-family: var(--font-quick);
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0;
        color: #ffffff;

        max-width: 220px;
    }

}


@media (max-width: 1024px) {
    .skills__content {
        width: 100%;
    }

    .skills__grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width: 768px) {
    .skills {
        padding: 72px 24px;
    }

    .skills__grid {
        grid-template-columns: 1fr;
    }

    .skills__card {
        width: 100%;
        max-width: 360px;
    }
}