.siteFooter {
    background: #2a3238;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.toTopBtn {
    width: 40px;
    height: 96px;

    border: 1px solid #ffffff;
    border-radius: 28px;

    background: transparent;
    color: #ffffff;

    font-size: 28px;
    cursor: pointer;
    margin-bottom: 40px;
}

.toTopBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.footerInfo {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.footerCopy {
    font-size: 14px;
    opacity: 0.8;
}

.footerLegal {
    font-size: 14px;
    color: #ffffff;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .toTopBtn {
        height: 80px;
    }
}